<html><body>
    <h1>Lista</h1>
    <a href="http://127.0.0.1:8000/api/consumo_por_fuente/" target="_blank">Consumo por fuente</a>
    <br>
    <a href="http://127.0.0.1:8000/api/extras/" target="_blank">Extras</a>
    <br>
    <a href="http://127.0.0.1:8000/api/gases/" target="_blank">Gases</a>
    <br>
    <a href="http://127.0.0.1:8000/api/historico_emisiones/" target="_blank">Historio de emisiones</a>
    <br>
    <a href="http://127.0.0.1:8000/api/huella_mundial/" target="_blank">Huella mundial</a>
    <br>
    <a href="http://127.0.0.1:8000/api/huella__pais/" target="_blank">Huella por país</a>
    <br>
    <a href="http://127.0.0.1:8000/api/produccion_por_fuente/" target="_blank">Producción por fuente</a>
    <br>
    <a href="http://127.0.0.1:8000/api/temperatura/" target="_blank">Temperatura</a>
    <br>
    <a href="http://127.0.0.1:8000/api/geojson/" target="_blank">GeoJson</a>
</body></html>