{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include 'css.html' %}
</head>

<body>
  <header>    
    <div class="title">
      <img src="static/img/logo_imagen.png" alt="">
      <img src="static/img/logo_letra.png" alt="">
    </div>
    <nav class="stroke">
      <ul>
        <li id="team__submenu"><a href="#">Team</a></li>
        <li><a href="https://eroslibidus-streamdic-streamlit-app-lja7zf.streamlitapp.com/" target="_blank">Consultas Gui</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="main__container" >
      <div id="map"></div>
    </div>
    <div id="click__right__open">WORLD</div>
    <div class="right__country" >
      <div class="aside__right__main">
        {% block contentcountry %}{% endblock contentcountry%}
      </div>
    </div>
    <div class="aside__right">
      <div class="aside__right__main">
            {% block contentworld %}{% endblock contentworld %}
      </div>
    </div>
    
    <div class="aside">
      <div class="timeline">
        <div class="linetop"></div>
        <div id="items__timeline">
            <button value="2000">2000</button>
            <button value="2001">2001</button>
            <button value="2002">2022</button>
            <button value="2003">2003</button>
            <button value="2004">2004</button>
            <button value="2005">2005</button>
            <button value="2006">2006</button>
            <button value="2007">2007</button>
            <button value="2008">2008</button>
            <button value="2009">2009</button>
            <button value="2010">2010</button>
            <button value="2011">2011</button>
            <button value="2012">2012</button>
            <button value="2013">2013</button>
            <button value="2014">2014</button>
            <button value="2015">2015</button>
            <button value="2016">2016</button>
            <button value="2017">2017</button>
            <button value="2018">2018</button>
            <button value="2019">2019</button>
            <button value="2020">2020</button>
            <button value="2021">2021</button>
            <button >2022</button>
        </div>
    </div>
     
    </div>
      
      <div class="aside__left">
      
          {% block contentfilters %}{% endblock contentfilters %}
      </div>
    </div>
    <div class="submenu">
      <div class="card__submenu">
        <img width="150px" src="https://media-exp1.licdn.com/dms/image/C5603AQGuEb1L6VGJ3w/profile-displayphoto-shrink_200_200/0/1620702778065?e=1668038400&v=beta&t=u_aDCMd0gfaoxQV439yi7LG5B2qjAs1GwXxjV9AspZI" alt="">
        <h3><a href="#">Alex Rodriguez</a></h3>
        <div class="item__submenu">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
      <div class="card__submenu">
        <img width="150px" src="https://media-exp1.licdn.com/dms/image/C4E03AQFewS1wxZu6UA/profile-displayphoto-shrink_200_200/0/1588967774396?e=1668038400&v=beta&t=0-AgEN6h5quVGU6DPw24dEgR-4tpj-uxphD3i9JDgqg" alt="">
        <h3><a href="#">Cristina Zamorano</a></h3>
        <div class="item__submenu">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
      <div class="card__submenu">
        <img width="150px" src="https://media-exp1.licdn.com/dms/image/C4E03AQFDu5YZfBh73w/profile-displayphoto-shrink_200_200/0/1516504639202?e=1668038400&v=beta&t=NJxCtHyJ_AY50DT1uWOD4ULHnZ4wufiugObMb_lRNn0" alt="">
        <h3><a href="#">Helton Lirion</a></h3>
        <div class="item__submenu">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
      <div class="card__submenu">
        <img width="150px" src="https://media-exp1.licdn.com/dms/image/C4D03AQHjVFByF04Gog/profile-displayphoto-shrink_200_200/0/1631129368621?e=1668038400&v=beta&t=QBSG7XC5rebPhXmx4xuRjCGHmJGrxmQfd3YQjLmlqBs" alt="">
        <h3><a href="#">Agustín Montero</a></h3>
        <div class="item__submenu">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
      <div class="card__submenu">
        <img width="150px" src="https://media-exp1.licdn.com/dms/image/D5635AQGXW0U7XhrOLA/profile-framedphoto-shrink_200_200/0/1660002666757?e=1663113600&v=beta&t=_LHwEvBMefmjHp0DM5gifoDErL-tMBglex7dk4xR1SU" alt="">
        <h3><a href="#">Geronimo Giggi</a></h3>
        <div class="item__submenu">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-github"></i></a>
          <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
    </div>
    <div id="obturador">
      <img width="100%" height="100%"  src="static/img/FONDO-NEGRO.png" alt="">
    </div>
  </main>

  {% include 'js.html' %}
</body>
</html>